*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: "Roboto Slab", serif;
    background-color: #010736;
    color: #FDFAF6;
}

.quiz-container {
    background-color: #9112BC;
    width: 500px;
    margin: 100px auto;
    padding: 30px;
    text-align: center;
    border-radius: 15px;
}
button{
    display: block;
    width: 100%;
    padding: 12px;
    margin: 10px 0;
    cursor: pointer;
}